body {
  font-family: "Playfair Display", serif;
}
#container {
  display: flex;
  max-width: 600px;
  margin: 45px auto;
  padding: 15px;
  box-sizing: unset;
}

h1 {
  font-style: italic;
  font-size: 40px;
  margin: 0 auto;
}
#current-time {
  font-style: normal;
  font-size: 14px;
}
h5 {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 15px;
}

.weather-data {
  display: flex;
  justify-content: space-evenly;
}
.btn,
.search-form {
  margin: 10px 0;
}
.details-city {
  padding: 0 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.temperature-city-data {
  display: flex;
}
.weather-icon {
  display: block;
  width: 88px;
  height: 88px;
}
#current-temp {
  font-size: 50px;
}
#unit-fahr,
#unit-celsius,
#division {
  margin: 25px 0 0 5px;
}

.weather-forcast {
  text-align: center;
}
.weather-forcast-date {
  opacity: 0.8;
}

.max-temp {
  font-size: 16px;
}
.min-temp {
  opacity: 0.5;
  font-size: 14px;
}

footer {
  font-size: 12px;
  padding: 10px 0 0 0;
  text-align: center;
  border-top: 1px solid grey;
  opacity: 0.8;
  margin: 0 auto;
}
